@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}

<div class="page-hero">
    <h1>Contact</h1>
    <p>The best way to reach me is via Discord or GitHub.</p>
</div>

<div class="page-content">
    <div class="links">
        <div class="link-group">
            <div class="link-group-title">GitHub</div>
            <a class="button github" href="https://github.com/BigBang1112">
                <img src="~/img/GitHub_Lockup_Black_Clearspace.svg" height="70" />
            </a>
        </div>
        <div class="link-group">
            <div class="link-group-title">Discord</div>
            <a class="button discord" href="https://discord.gbx.tools">GameBox Sandbox server</a>
            <a class="button discord" href="https://discord.gg/q9whS3c">BigBang1112tm server</a>
        </div>
    </div>
</div>
