@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="beginning">
    <div class="punch">
        <img src="~/img/logo.png" width="200" />
        <div class="names">
            <div style="font-size: 400%;">
                BigBang1112
            </div>
            <div style="font-size: 200%;">
                Petr Pivoňka
            </div>
            <div>
                Developer and music producer
            </div>
        </div>
    </div>
    <nav>
        <a class="active" href="/">Home</a>
        <a href="/projects">Projects</a>
        <a href="/links">Links</a>
        <a href="/music">Music</a>
        <a href="/contact">Contact</a>
    </nav>
</div>
<div class="info">
    <div class="introduction">
        <div>
            Hello! I'm a passionate self-taught open-source developer maintaining various Trackmania tools and mods.
        </div>
        <div>
            I'm also a music producer under the name Realnest, creating a specific Drum & Bass style.
        </div>
    </div>
    <div class="links">
        <div class="link-group">
            <a class="button github" href="https://github.com/BigBang1112">
                <img src="~/img/GitHub_Lockup_Black_Clearspace.svg" height="80" />
            </a>
        </div>
        <div class="link-group">
            <div>Discord servers</div>
            <a class="button discord" href="https://discord.gbx.tools">GameBox Sandbox</a>
            <a class="button discord" href="https://discord.nc.gbx.tools">Nations Converter</a>
            <a class="button discord" href="https://discord.gg/q9whS3c">BigBang1112tm</a>
        </div>
        <div class="link-group">
            <div>YouTube channels</div>
            <a class="button youtube" href="https://youtube.com/@@BigBang1112tm">BigBang1112tm</a>
            <a class="button youtube" href="https://youtube.com/@@BigBang1112">BigBang1112</a>
            <a class="button youtube" href="https://youtube.com/@@realnestmusic">Realnest</a>
        </div>
    </div>
    <div class="overview">
        <h2>Highlights</h2>
        <div class="highlights">
            <a class="button" href="https://github.com/BigBang1112/gbx-net">
                <div class="highlight-title">
                    GBX.NET
                </div>
                <div>
                    General purpose library for Gbx files
                </div>
            </a>
            <a class="button" href="https://gbx.tools">
                <div class="highlight-title">
                    gbx.tools
                </div>
                <div>
                    Online tools for working with Gbx files
                </div>
            </a>
            <a class="button" href="https://bigbang1112.github.io/reuniverse/">
                <div class="highlight-title">
                    reuniverse
                </div>
                <div>
                    Templates and Blazor components
                </div>
            </a>
        </div>
        <h2>Timeline</h2>
        <p>coming soon</p>
    </div>
</div>