@page
@model MusicModel
@{
    ViewData["Title"] = "Music";
}

<div class="page-hero">
    <h1>Music</h1>
    <p>Music produced under the alias <strong>Realnest</strong>.</p>
</div>

<div class="page-content">
    <section>
        <div class="music-links">
            <a class="button spotify" href="https://open.spotify.com/artist/4hCfEugmmJX2po152bsceI">Spotify</a>
            <a class="button youtube" href="https://youtube.com/@@realnestmusic">YouTube</a>
            <a class="button soundcloud" href="https://soundcloud.com/realnest">SoundCloud</a>
            <a class="button instagram" href="https://instagram.com/realnestmusic">Instagram</a>
        </div>
        <div class="music-list">
            <div class="music-row">
                <div class="music-info">
                    <h3>ENVIMIX b4 2018 DELUXE</h3>
                    <div class="music-meta">released 3 April 2026</div>
                    <p>ENVIMIX b4 2018 DELUXE includes the remaining two tracks that weren't quite ready for the first release, and a bonus, more electronic version of Feelings. The two new songs were also initiated before July 2018.</p>
                </div>
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/7tBEvDD1Sehxc31IdETQjr?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            </div>
            <div class="music-row">
                <div class="music-info">
                    <h3>ENVIMIX b4 2018</h3>
                    <div class="music-meta">released 28 November 2025</div>
                    <p>ENVIMIX b4 2018 is a very special album release that collects some of my production before July 2018 (the release of the Nadeo Envimix title pack) and reworks them with my current production skills. All of the project files in this album have started between November 2016 and July 2018. The album was released as the official soundtrack for the ENVIMIX Turbo project in 2025. The style is very melodical and rhytmical just as I produced in the past and combines them with mixing techniques I've adapted many years later.</p>
                </div>
                <iframe data-testid="embed-iframe" style="border-radius:12px" src="https://open.spotify.com/embed/album/6IWsVQlUDzdYzFfjyWbVxb?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            </div>
            <div class="music-row">
                <div class="music-info">
                    <h4>AK - He Doesn't Try Anything New (Realnest Bootleg)</h4>
                    <div class="music-meta">released 20 May 2025</div>
                    <p>Released in 2025 during a very uncertain studying period. This track gave me a hope that whatever bad happens, it is an opportunity for something better to happen in the future.</p>
                </div>
                <div>
                    <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/soundcloud%253Atracks%253A2098710765&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/realnest" title="Realnest" target="_blank" style="color: #cccccc; text-decoration: none;">Realnest</a> · <a href="https://soundcloud.com/realnest/ak-he-doesnt-try-anything-new" title="AK - He Doesn&#x27;t Try Anything New (Realnest Bootleg)" target="_blank" style="color: #cccccc; text-decoration: none;">AK - He Doesn&#x27;t Try Anything New (Realnest Bootleg)</a></div>
                </div>
            </div>
            <div class="music-row">
                <div class="music-info">
                    <h3>something is wrong with me</h3>
                    <div class="music-meta">released 13 August 2024</div>
                    <p>This was my 3rd unsuccessful submission for All Nighter. It started with the piano chords and the beginning, and I had the idea to make an unexpected drop. The production flew really well and the song was completed in just 6 hours, though I could've made the third buildup a little better for sure. This song is about self-reflection, but struggling to figure it out, then feeling lost and not knowing what to do with yourself, perceiving unfairness strongly.</p>
                </div>
                <div>
                    <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/soundcloud%253Atracks%253A1894683417&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/realnest" title="Realnest" target="_blank" style="color: #cccccc; text-decoration: none;">Realnest</a> · <a href="https://soundcloud.com/realnest/something-is-wrong-with-me" title="something is wrong with me" target="_blank" style="color: #cccccc; text-decoration: none;">something is wrong with me</a></div>
                </div>
            </div>
            <div class="music-row">
                <div class="music-info">
                    <h3>ManiaPlanet Stories</h3>
                    <div class="music-meta">released 10 November 2023</div>
                    <p>ManiaPlanet Stories is a wrapup of my Trackmania 2 bootleg production journey I was experimenting with from July 2020. The project was completed with the ManiaPlanet Menu Theme bootleg which turned out really damn well.</p>
                </div>
                <div>
                    <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/soundcloud%253Aplaylists%253A1719132375&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/realnest" title="Realnest" target="_blank" style="color: #cccccc; text-decoration: none;">Realnest</a> · <a href="https://soundcloud.com/realnest/sets/maniaplanet-stories" title="ManiaPlanet Stories" target="_blank" style="color: #cccccc; text-decoration: none;">ManiaPlanet Stories</a></div>
                </div>
            </div>
            <div class="music-row">
                <div class="music-info">
                    <h3>Delay Dawn</h3>
                    <div class="music-meta">released 9 August 2022</div>
                    <p>Delay Dawn is my first contest submission to the All Nighter competition. The goal was to make a song in 24 hours. I had an idea of using the delay effect creatively, resulting in such a track in 14 hours. Even though the song was made this quick, it was quite a struggle to get it right, though I wanted to sleep properly so I just finished it that night and submitted it. It didn't make it to the top 45, but the song was lucky to be placed as 17th track of their other submission playlist.</p>
                </div>
                <div>
                    <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/soundcloud%253Atracks%253A1320500872&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/realnest" title="Realnest" target="_blank" style="color: #cccccc; text-decoration: none;">Realnest</a> · <a href="https://soundcloud.com/realnest/delay-dawn" title="Delay Dawn" target="_blank" style="color: #cccccc; text-decoration: none;">Delay Dawn</a></div>
                </div>
            </div>
            <div class="music-row">
                <div class="music-info">
                    <h3>Far Away VIP</h3>
                    <div class="music-meta">released 24 December 2021</div>
                    <p>Far Away VIP is a spin-off of the original Far Away track, offering an energic take on the orginal more relaxed version.</p>
                </div>
                <iframe data-testid="embed-iframe" style="border-radius:12px" src="https://open.spotify.com/embed/track/4gjVtmWTxE2KFL1jaeAuIs?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            </div>
            <div class="music-row">
                <div class="music-info">
                    <h3>Trackmania United OST Bootleg Album</h3>
                    <div class="music-meta">released 28 December 2020</div>
                    <p>This was a lengthier project I started in May 2019 to remix every Trackmania United ingame soundtrack, except for the Stadium ones. It was a challenging but rewarding experience. The tracks received a lot of support from many Trackmania players.</p>
                </div>
                <div>
                    <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/soundcloud%253Aplaylists%253A1014928672&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/realnest" title="Realnest" target="_blank" style="color: #cccccc; text-decoration: none;">Realnest</a> · <a href="https://soundcloud.com/realnest/sets/tmuf-ost-bootleg-album" title="Trackmania United OST Bootleg Album" target="_blank" style="color: #cccccc; text-decoration: none;">Trackmania United OST Bootleg Album</a></div>
                </div>
            </div>
            <div class="music-row">
                <div class="music-info">
                    <h4>Dom Lyne - Mutants (RealiM Bootleg) [Realnest Remaster]</h4>
                    <div class="music-meta">released 3 May 2020</div>
                    <p>Much needed remaster of my previous bootleg. This one cleans up the production with the experience I gathered over the years, resulting in a powerful and polished version of the bootleg. Original producer Dom Lyne also commented under this track, but the comment got lost since then.</p>
                </div>
                <div>
                    <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/soundcloud%253Atracks%253A812034340&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/realnest" title="Realnest" target="_blank" style="color: #cccccc; text-decoration: none;">Realnest</a> · <a href="https://soundcloud.com/realnest/dom-lyne-mutants-realim-bootleg-realnest-remaster" title="Dom Lyne - Mutants (RealiM Bootleg) [Realnest Remaster]" target="_blank" style="color: #cccccc; text-decoration: none;">Dom Lyne - Mutants (RealiM Bootleg) [Realnest Remaster]</a></div>
                </div>
            </div>
            <div class="music-row">
                <div class="music-info">
                    <h3>Memory Acceleration</h3>
                    <div class="music-meta">released 24 April 2020</div>
                    <p>Memory Acceleration is my first completed album with 17 tracks. It focuses more on the melancholic side, but with major chords, forming a unique blend of experiences I was going through at that time. The album was in the works from 2018 to 2020 and features 2 lyrical tracks for the first time in my musical journey, sung by Rasmus Henneken.</p>
                </div>
                <iframe data-testid="embed-iframe" style="border-radius:12px" src="https://open.spotify.com/embed/album/28fq1QRbnmSlPV2Jwm8x7T?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            </div>
            <div class="music-row">
                <div class="music-info">
                    <h3>Outside Inside EP</h3>
                    <div class="music-meta">released 2 April 2019</div>
                    <p>Outside Inside is a summer-bringer that plays with drums and chords a bit more than my previous works. While lacking a bit production-wise, it is fairly a creative EP.</p>
                </div>
                <iframe data-testid="embed-iframe" style="border-radius:12px" src="https://open.spotify.com/embed/album/30Nd6UaS2hHBRKFW49pJgU?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            </div>
            <div class="music-row">
                <div class="music-info">
                    <h3>Straight Through Me</h3>
                    <div class="music-meta">released 11 September 2018</div>
                    <p>Straight Through Me was the first song I managed to release through a label - in this case, Melomania Records. It shares a bit of chillstep vibes I got inspired from the MrSuicideSheep channel.</p>
                </div>
                <div>
                    <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/soundcloud%253Atracks%253A498423864&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/realnest" title="Realnest" target="_blank" style="color: #cccccc; text-decoration: none;">Realnest</a> · <a href="https://soundcloud.com/realnest/straight-through-me" title="Straight Through Me" target="_blank" style="color: #cccccc; text-decoration: none;">Straight Through Me</a></div>
                </div>
            </div>
            <div class="music-row">
                <div class="music-info">
                    <h4>Dom Lyne - Mutants (RealiM Bootleg)</h4>
                    <div class="music-meta">released 15 December 2017</div>
                    <p>Mutants is a menu music for the TrackMania Sunrise game. I have a lot of nostalgia connected with the song and the game, so this was the first bootleg I finished. It was the first time I attempted to share my music with a wider audience (my small Trackmania community around YouTube), and it was very uncomfortable to do, but I pushed through. The bootleg was perceived mostly alright, though the production wasn't really there yet. The original producer Dom Lyne commented on it as well, which was a huge encouragement for me at that time.</p>
                </div>
                <div>
                    <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/soundcloud%253Atracks%253A369965261&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/realnest" title="Realnest" target="_blank" style="color: #cccccc; text-decoration: none;">Realnest</a> · <a href="https://soundcloud.com/realnest/dom-lyne-mutants-realim-bootleg" title="Dom Lyne - Mutants (RealiM Bootleg)" target="_blank" style="color: #cccccc; text-decoration: none;">Dom Lyne - Mutants (RealiM Bootleg)</a></div>
                </div>
            </div>
            <div class="music-row">
                <div class="music-info">
                    <h3>Moments</h3>
                    <div class="music-meta">released 31 August 2016</div>
                    <p>Released just before returning to 9th grade, this track finally manages to capture the style I was looking for. Not in a Drum & Bass way yet, but melodically for sure. It was also the first song someone else shared for me on YouTube.</p>
                </div>
                <div>
                    <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/soundcloud%253Atracks%253A280801448&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/realnest" title="Realnest" target="_blank" style="color: #cccccc; text-decoration: none;">Realnest</a> · <a href="https://soundcloud.com/realnest/moments" title="Moments" target="_blank" style="color: #cccccc; text-decoration: none;">Moments</a></div>
                </div>
            </div>
        </div>
    </section>
</div>
