@page
@model MusicModel
@{
    ViewData["Title"] = "Music";
}

<div class="page-hero">
    <h1>Music</h1>
    <p>Music produced under the alias <strong>Realnest</strong>.</p>
</div>

<div class="page-content">
    <section>
        <h2>Listen</h2>
        <div class="links">
            <div class="link-group">
                <div class="link-group-title">YouTube</div>
                <a class="button youtube" href="https://youtube.com/@@realnestmusic">Realnest on YouTube</a>
            </div>
            <div class="link-group">
                <div class="link-group-title">SoundCloud</div>
                <a class="button soundcloud" href="https://soundcloud.com/realnest">Realnest on SoundCloud</a>
            </div>
        </div>
    </section>
</div>
